<%= form_for(@comment, :html => { :class => 'form-vertical' }) do |f| %>
	<div class="control-group">
		<div class="controls">
			<%= f.text_field :name, size: 20, placeholder: 'Name', class: '' %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= f.text_area :body, rows: 5, placeholder: 'Body', class: 'input-block-level' %>
		</div>
	</div>
	<%= f.hidden_field :parent_id, value: params[:id] ? params[:id] : nil, class: '' %>
	<div class="control-group">
		<div class="controls">
			<%= f.submit 'Post it!', class: 'btn' %>
		</div>
	</div>
<% end %>